<a href="https://colab.research.google.com/github/cristisa/otro/blob/main/ejercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
x = input("Ingrese valor: ")
if x == 'True':
    print("es verdad")
elif x == 'False':
    print("es falso")
else:
    print("no encontrado")

Ingrese valor: True
es verdad

In [4]:
x = input("Ingrese valor 1 o 2: ")
if x == '1':
    print("es verdad")
elif x == '2':
    print("es falso")
else:
    print("no encontrado")

Ingrese valor 1 o 2: 1
es verdad

In [7]:
x = input("Ingrese valor 1 o 2: ")
if x == '1' and x == '2':
    print("es verdad")
else:
    print("no encontrado")

Ingrese valor 1 o 2: 2
no encontrado

In [15]:
i = input("Ingresa valor: ")
while i=='2':
  print("Pues si xD")
  break
else:
  print("Ya no")

Ingresa valor: 2
Pues si xD

In [16]:
numero = 2
while numero < 15:
  numero*=2
  print(numero)

4
8
16

In [8]:
num = 2
while num < 100:
  num*=2
  print(num)

4
8
16
32
64
128

In [18]:
numero = int(input('Ingrese numero: '))
while numero < 15:
  numero*=2
  print(numero)

Ingrese numero: 14
28

In [61]:
nota = int(input('Ingresa valor entre 0 y 10: '))

if nota<=10 and nota>8:
  print('A')
elif nota==8:
  print('B')
elif nota==7:
  print('C')
elif nota==6:
  print('D')
elif nota<6 and nota>=0:
  print('F')
else:
  print('Valor incorrecto')

Ingresa valor entre 0 y 10: 0
F

In [59]:
i = 0
while (i<=5):
  print(i)
  i=i+1

0
1
2
3
4
5

In [82]:
#. Iterar un rango de 0 a 10 e imprimir números divisibles entre 3
x = range(10)
for n in x:
  if n%3==0:
    print(n)

0
3
6
9

In [83]:
# Crear un rango de numeros de 2 a 6, e imprimelos. Range(start, stop, step).
# No incluye el ultimo numero de stop. 
x = range(2, 7, 1)
for n in x:
  print(n)

2
3
4
5
6

In [85]:
#Crear un rango de 3 a 10, pero con incremento de 2 en 2, en lugar de 1 en 1.

x = range(3, 11, 2)
for n in x:
  print(n)

3
5
7
9

In [80]:
#Dada la siguiente tupla, crear una lista que sólo incluya los números menores a 5.
#thislist.append("orange")

tupla = list((13, 1, 8, 3, 2, 5, 8))
nuevalista = []
for n in tupla:
  if n<5:
    nuevalista.append(n)

print(nuevalista)

[1, 3, 2]

In [63]:
cadena ='hola'
for p in cadena:
  print(p)
else:
  print('Se acabo')

h
o
l
a
Se acabo

In [ ]:
cadena = [1, 2, 3, 4]['manzana', 'pera', 'mandarina', 'patilla']

for i in cadena:

In [65]:
for i in 'holanda':
  if i == 'a':
    print(f'letra encontrada: {i}')
    break
else:
  print('Fin de ciclo')

letra encontrada: a

In [74]:
for x in range(6):
  if x==3:
    break
  print(x)
else:
  print("Termina aqui")

0
1
2

In [77]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [1]:
planetas = {'Marte', 'Venus'}
print(planetas)

{'Venus', 'Marte'}

In [5]:
lista = list(planetas)
print(lista)
otros = ['Mercurio','Jupiter']
lista.extend(otros)
print(lista)

['Venus', 'Marte']
['Venus', 'Marte', 'Mercurio', 'Jupiter']

In [6]:
lista = [1, 2, 3, 4]
lista.pop(1)
print(lista)

[1, 3, 4]